.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 600;
}

.image {
    border-radius: 500px;
}

.toolbar-down {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.ion-item {
    --border-style: none;
    --inner-border-style: none;
    display: flex;
    align-items: flex-start;
}

.first-ion-item{
    border-bottom: 1px solid gainsboro;
}

.ion-item-down {
    --border-style: none;
    --inner-border-style: none;
}

.containerComment {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 1rem;
    font-size: 15px;
}
  
.containerComment p {
    font-size: 15px;
    margin-top: 1%;
}

.comment-content{
    height: 91%;
}

.time{
    font-size: 13px;
    color: #8c8c8c;
}
  
  